
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,300&family=Sometype+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #14131a;
    /* background-color: #fff; */
    color: #fff;
    font-family: 'Roboto Mono', monospace;
font-family: 'Sometype Mono', monospace;
box-sizing: border-box;
}

body{
}

#aside{
    /* border: 2px solid whitesmoke; */
    width: 20vw;
    height: 60vw;
    display: inline-block;
    box-sizing: border-box;
    position: fixed;
}

#main{
    box-sizing: border-box;
    /* border: 2px solid white; */
    display: inline-block;
    width: 79.7%;
    height: 75vw;
    margin-left: 20vw;
    max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /* max-height: 100vh;
  overflow-y: hidden; */
  /* overflow: hidden;  */
}
.navbar{
    /* border: 2px solid whitesmoke; */
    color: rgb(222, 57, 57);
    box-sizing: border-box;
    padding: 26px;
    display: flex;
    justify-content: flex-end;
    position:fixed;
    width: 80%;

}

.icon{
    background-color: #2bd576;
    padding: 8px 50px 8px 44px;
    margin: 3px 75px;
    color: #fff;
    border: 1px solid #2bd576;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    justify-content: center;
    /* opacity: 1; */
}

.up1{
    
    height: 4vw;
    height: 20px;
  width: 20px;
  background-color: #2bd576;
  border-radius: 50%;
  display: inline-block;
  margin: 14px 12px 7px 48px;

}
.up2{
    
    height: 4vw;
    height: 20px;
  width: 20px;
  background-color: #2bd576;
  border-radius: 50%;
  display: inline-block;
  margin: 14px 12px 7px 8px;

}
.up3{
    
    height: 4vw;
    height: 20px;
  width: 20px;
  background-color: #2bd576;
  border-radius: 50%;
  display: inline-block;
  margin: 14px 12px 7px 100px;

}



.mid{
    border: 2px solid #1c1b23;
    border-radius: 8px;
    height: 90vw;
    margin: 12px 12px 12px 8px;
    background-color:#1c1b23;
    border-radius: 9px;
}



.asideitems1{
    background-color:#1c1b23 ;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content:flex-start;
    padding: 12px 17px 24px 65px;
    margin: 33px 0px 0px 0px;
    text-decoration: none;

}
.asideitems{
    background-color:#1c1b23 ;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content:flex-start;
    padding: 6px 17px 24px 65px;
    margin: 23px 0px 0px 0px;
    text-decoration: none;


}
.asideitems p{
    padding-top: 3px;
    background-color:#1c1b23;
}
.asideitems1 p{
    padding-top: 3px;
    background-color:#1c1b23;
}

/* icons  */
.fa{

    padding-right: 12px;
    background-color:#1c1b23 ;
    font-size: 24px;
    color: #2bd576;
}
.fa:hover{
    color: #fff;
}

.asideitems:hover{
    cursor: pointer;
    /* padding: 9px 17px 24px 65px ; */
    margin: 24px 0px 0px 0px;
   
}

.asideitems1:hover{
    cursor: pointer;
    /* padding: 9px 17px 24px 65px ; */
    margin: 34px 0px 0px 0px;
    
}

.asideitems1 p:hover{
    color:#2bd576;
    }
.asideitems p:hover{
    color:#2bd576;
    }




/* main sclading container */
.topcontainer{
    /* border: 2px solid whitesmoke; */
    border-radius: 5px;
    width: 78vw;
    height: 28vh;
    
    background-image: url('Screenshot\ 2023-11-02\ 000810.png') ;
    /* background-size: cover; */
    /* opacity: 0.2; */
    color: red;
    display: inline-block;

}

.topcontainer::before{
    content: 'Dipak Khade';
    top: 56%; /* Adjust the vertical position */
    left: 6%; /* Adjust the horizontal position */
    transform: translate(-50%, -50%); /* Center the text */
    color:#2bd576; /* Set the text color */
    font-size: 18px; /* Set the font size */
    font-weight: bold; 
    position: relative;
    
}

.project h4{
    margin: 23px 0px 0px 22px;
}

.project{
    /* border: 2px solid whitesmoke; */
    height: 80vh ;
    width: 79vw;
    display: inline-block;
  
}

.card{
display: inline-block;
}

















/* reponsive part */
@media (max-width: 768px) {
    #main{
        display: none;
        
    }
    #aisde{
        width: 80vw;
    }
    .mid{
        width: 80vw;
    }
    .up1 {
        display: none;
    }
    .up2 {
        display: none;
    }
    .up3 {
        display: none;
    }

  }
  
