<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>

    <link rel="stylesheet" href="stylesheets/contact.css">
</head>
<body>
    
    <!-- side portion -->
    <div id="aside">
        <!-- dots -->
        <div class="up1"></div>
        <div class="up2"></div>
        <div class="up3 fa fa-adjust"></div>
           
        <!-- main -->
        <div class="mid">
            <a class="asideitems1 links" href="/home"><div class="fa fa-home"></div><p>Home</p></a>
            <a class="asideitems links" href="https://github.com/" target="_blank"><div class="fa fa-github" ></div><p>GitHub</p></a>
            <a class="asideitems links" href="https://www.linkedin.com/in/dipak-khade-715389252/" target="_blank"><div class="fa fa-linkedin"></div><p>Linkedin</p></a>
            <a class="asideitems links" href="https://instagram.com/dipakkhade272?igshid=OGQ5ZDc2ODk2ZA== " target="_blank"><div class="fa fa-instagram"></div><p>Instgram</p></a>
        </div>
    </div>



    <!-- contact container -->

    <div class="contact">

        <ul>
            <li>Gmain  : dipakhade214@gmail.com</li>
            <li><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl" target="_blank">go to gmail</a></li>
            <li></li>
        </ul>
    </div>

    <script src="../public/javascripts/contact.js"></script>
</body>
</html>