<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/index.css">

</head>
<body>


    <!-- side portion -->
    <div id="aside">
        <!-- dots -->
        <div class="up1"></div>
        <div class="up2"></div>
        <!-- <div class="up3 fa fa-adjust"></div> -->
           
        <!-- main -->
        <div class="mid">
            <a class="asideitems1 fa fa-home" href="/home">Home</a>
            <a class="asideitems" href="https://github.com/" target="_blank"><div class="fa fa-github" ></div><p>GitHub</p></a>
            <a class="asideitems" href="https://www.linkedin.com/in/dipak-khade-715389252/" target="_blank"><div class="fa fa-linkedin"></div><p>Linkedin</p></a>
            <a class="asideitems" href="https://instagram.com/dipakkhade272?igshid=OGQ5ZDc2ODk2ZA== " target="_blank"><div class="fa fa-instagram"></div><p>Instgram</p></a>
        </div>

        <div class="media">@media query's for mobile phones screen yet to be updated</div>
    </div>

<!-- main content     -->
    <div id="main">

        <div class="navbar">
            <button class="icon"><a href="/contact">Contact</a> </button>
           
        </div>
<div class="main_without_contact">
        <!-- sliding main section -->

        <div class="maincontainer">
            <div class="topcontainer"> </div>


            <!-- project section -->
            <div class="project">
                <h4>Projects</h4>


        <!-- 1st card -->
                <div class="card m-5" style="width: 18rem; ">
                    <img src="images/brain.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Detection of Bleeding</h5>
                      <p class="card-text">A MSc final Year Project - detection of bleeding in a brain using CT Scan (A Machine Learning using Python) </p>
                      <a href="https://github.com/DipakKhade/MSc-Project" class="btn btn-primary">Check Out</a>
                    </div>
                  </div>



<!-- 2nd card -->
<div class="card m-4" style="width: 18rem;">
    <img src="images/img blog 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Demo</h5>
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam minima blanditiis ratione! Lorem ipsum dolor sit amet consectetur. Lorem, ipsum.</p>
      <a href="#" class="btn btn-primary">Check Out</a>
    </div>
  </div>


  <!-- 3rd card -->
  <div class="card m-4" style="width: 18rem;">
    <img src="images/img blog 3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Demo</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quos quam rem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus sunt  </p>
      <a href="#" class="btn btn-primary">Check Out</a>
    </div>
  </div>




            </div>
        </div>

    </div>
</div>   



<script src="../public/javascripts/index.js"></script>
    
</body>
</html>